<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />


    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" media="all" 	href="../../css/admin-manage.css" th:href="@{/css/admin-manage.css}" />


<title>HOME LECTURER</title>
</head>
<body>

 <header th:insert="fragments/general.html :: header"> </header> 

      <nav id="nav2" class="navbar  navbar-default navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="homenavbar2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
         <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../../courselecturer/home" th:href="@{/courselecturer/home}">Courses Taught</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../lecturerenrolment/home" th:href="@{/lecturerenrolment/home}">Course Enrolment</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../lecturerenrolment/gradecourse" th:href="@{/lecturerenrolment/gradecourse}">Grade A Course</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../lecturerenrolment/performance" th:href="@{/lecturerenrolment/performance}">Student Performance</a>
        </li>
                
      </ul>
      
    </div>
  </div>
</nav>

 
 <form action="#" th:object="${addcourse}" th:action="@{/courselecturer/save}"method="post">  
   <table class="center">
   <tr>
   <td> Lecturer Name :</td>
   <td>
  <fieldset>  
     <Select th:field= "*{lecturer.firstName}" >  
      <option th:value="${lname}" th:text="${lname}"></option> 
     </select> 
      
   </fieldset>
   </td>
   </tr>
   <tr>
   <td>Course Name :</td>
   <td>
   <fieldset> 
      <select th:field="*{courses.courseName}" > 
       <option th:each="cname:${cnames}" th:value="${cname}" 
         th:text="${cname}"></option> 
     </select> 
   </fieldset> 
   </td>
   </tr>
   <tr>
   <td></td>
   <td>
   <fieldset> 
     <input type="submit" value ="Save"/> 
        &nbsp; &nbsp;   
      
   </fieldset> 
   </td>
   </tr>
   </table>
 </form> 
 
 <div class="form-row my-auto justify-content-center align-items-center">
                        <div class="col-lg-12 " id="error_msg">
                            <h1 th:text="${errmsg}" style="text-align:center"></h1>
                        </div>
                    </div>
		 
  
   <br />
	 <div th:replace="fragments/general.html :: footer"></div> 

   
 


</body>
</html>