<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/register.css" th:href="@{/css/register.css}" />
 <link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />
<script type="text/javascript" src="../../JavaScript/admin-add-student-lecturer.js" th:href="@{/JavaScript/admin-add-student-lecturer.js}" ></script>


<title>Add New Lecturer</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header> 

<nav id="nav2" class="navbar  navbar-default navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="homenavbar2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
       <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../adminstudent/list" th:href="@{/adminstudent/list}" >Manage Students</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link " aria-current="page" href="../../adminlecturer/list" th:href="@{/adminlecturer/list}">Manage Lecturers</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../../admincourse/list" th:href="@{/admincourse/list}">Manage Courses</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../adminenrolment/list" th:href="@{/adminenrolment/list}">Manage Enrolments</a>
        </li>
        
                
      </ul>
      
    </div>
  </div>
</nav>



<div class="container">
        <div class="row justify-content-center mx-5 align-items-center">
            <div class="px-xl-5 py-4">
                <h2 class="text-capitalize">Add New Lecturer</h2>
                <form id="form" >
                    <table>
						<tr>
							<td>Lecturer Id : </td>
							<td><input type="text" id="id_no"  tabindex="1" > </td>
						</tr>

						<tr>
							<td>First Name : </td>
							<td><input type="text" id="fname"></td>
						</tr>
						<tr>
							<td>Middle Name : </td>
							<td><input type="text" id="mname"></td>
						</tr>
						<tr>
							<td>Last Name : </td>
							<td><input type="text" id="lname"></td>
						</tr>
						<tr>
							<td>Joining Date :</td>
							<td><input type="text" id="date"></td>
						</tr>
						<tr>
							<td>Email : </td>
							<td><input type="email" id="email"></td>
						</tr>
						
					</table>
                        
                    
                        <div class="col-lg-12">
                            <button type="submit" class="btn mt-3 mb-3" tabindex="7">ADD</button>
                        </div>
                    
                    <div class="form-row my-auto justify-content-center align-items-center">
                        <div class="col-lg-12 " id="error_msg">
                            <!-- @ViewData["errmsg"] -->
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>

 <br />
	 <div th:replace="fragments/general.html :: footer"></div>

</body>
</html>