<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />


    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" media="all" 	href="../../css/admin-manage.css" th:href="@{/css/admin-manage.css}" />


<title>All Courses</title>
</head>
<body>
 <header th:insert="fragments/general.html :: header"> </header> 
<nav id="nav2" class="navbar  navbar-default navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="homenavbar2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../main/about" th:href="@{/main/about}">About Us</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active " aria-current="page" href="../../main/paging" th:href="@{/main/paging}">Courses</a>
        </li>
        
                
      </ul>
      
    </div>
  </div>
</nav>

 
   
<table class="center" >
<!-- <tr>
	<th>COURSE ID</th>
	<th>COURSE NAME</th>
	<th>DESCRIPTION</th>
	<th>CLASS SIZE</th>
	<th>CREDITS</th>
	<th>DURATION</th>
	
</tr> -->

<tr>
	<th>
	<a th:href="@{'/main/paging/page/' + ${currentPage} + '?sortField=courseName&sortDir=' + ${reverseSortDir}}">
	Course Name
	</a>
	</th>
	 <th>DESCRIPTION</th>
	<th>CLASS SIZE</th>
	<th>CREDITS</th>
	<th>DURATION</th> 
	
</tr>
<tr th:each="course : ${listcourses}">
	<td th:text=${course.courseName}>COURSE NAME</td>
	 <td th:text=${course.description}>DESCRIPTION</td>
	<td th:text=${course.classSize}>CLASS SIZE</td>
	<td th:text=${course.credits}>CREDITS</td>
	<td th:text=${course.duration}>DURATION</td> 
</tr>

</table>

<br />
<br />

  <div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10" >
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/main/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/main/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/main/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
</div>
    


<br />
	 <div th:replace="fragments/general.html :: footer"></div> 


</body>
</html>