<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />


    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />

<link rel="stylesheet" type="text/css" media="all" 	href="../../css/student.css" th:href="@{/css/student.css}" />

<title>View Enrolled Courses</title>
</head>
<body>

 <header th:insert="fragments/general.html :: header"> </header> 

      <nav id="nav2" class="navbar  navbar-default navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="homenavbar2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../../studentGrades/gradesGPA" th:href="@{/studentGrades/gradesGPA}">Grades and GPA</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../studentEnrolment/coursesForEnrolment" th:href="@{/studentEnrolment/coursesForEnrolment}">View Courses</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="../../studentEnrolment/enrolledCourses" th:href="@{/studentEnrolment/enrolledCourses}">Enrolled Courses</a>
        </li>
          
      </ul>
      
    </div>
  </div>
</nav>

<h1>View Enrolled Courses</h1>

<table border="1" style="border-collapse:collapse" width="100%">
		<tr>
			<th>Course Code</th>
			<th>Course Name</th>
			<th>Description</th>
			<th>Course Credits</th>
			<th>Start Date</th>
			<th>Duration(Days)</th>
		</tr>
		
		<tr th:each="data:${sdata}">
			<td><span th:text="${data.course.courseId}">Course ID</span></td>
			<td><span th:text="${data.course.courseName}">Course Name</span></td>
			<td><span th:text="${data.course.description}">Course Description</span></td>
			<td><span th:text="${data.course.credits}">Course Credits</span></td>
			<td><span th:text="${data.course.courseStartDate}">Course Start Date</span></td>
			<td><span th:text="${data.course.duration}">Duration(Days)</span></td>			
		</tr>
		
	</table>

		<br>
		<br>
		<form>
		<input type="button" value="Back" style="float:right;" onclick="history.back()"></input>
		</form>

<br />

   <br />
	 <div th:replace="fragments/general.html :: footer"></div> 

   


</body>
</html>