<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />


    <link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" media="all" 	href="../../css/admin-manage.css" th:href="@{/css/admin-manage.css}" />


<title>Manage Courses</title>
</head>
<body>
 <header th:insert="fragments/general.html :: header"> </header> 

      <nav id="nav2" class="navbar  navbar-default navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="homenavbar2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
       <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../../adminstudent/list" th:href="@{/adminstudent/list}" >Manage Students</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../adminlecturer/list" th:href="@{/adminlecturer/list}">Manage Lecturers</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="../../admincourse/list" th:href="@{/admincourse/list}">Manage Courses</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " aria-current="page" href="../../adminenrolment/list" th:href="@{/adminenrolment/list}">Manage Enrolments</a>
        </li>
        
                
      </ul>
      
    </div>
  </div>
</nav>


 
    
   
<table class="center"  >
<tr>
	<th>COURSE ID</th>
	<th>COURSE NAME</th>
	<th>DESCRIPTION</th>
	<th>CLASS SIZE</th>
	<th>CREDITS</th>
	<th>DURATION</th>
	<th>Edit Link</th>
	<th>Delete Link</th>
</tr>
<tr th:each="course:${courses}">
	<td th:text=${course.courseId}>COURSE ID</td>
	<td th:text=${course.courseName}>COURSE NAME</td>
	<td th:text=${course.description}>DESCRIPTION</td>
	<td th:text=${course.classSize}>CLASS SIZE</td>
	<td th:text=${course.credits}>CREDITS</td>
	<td th:text=${course.duration}>DURATION</td>
	<td><a href="EditCourse.html" th:href="@{/admincourse/edit/}+${course.courseId}" >Edit</a></td>
	<td><a href="DeleteCourse.html" th:href="@{/admincourse/delete/}+${course.courseId}" >Delete</a></td>
</tr>
<tr>
<td colspan="6" >
</td>
<td colspan="2" >
<button><a href="add-courses.html" th:href="@{/admincourse/add/}">Add Courses</a></button>

</td>
</tr>
</table>

<div class="form-row my-auto justify-content-center align-items-center">
                        <div class="col-lg-12 " id="error_msg">
                            <h1 th:text="${errmsg}" style="text-align:center"></h1>
                        </div>
                    </div>

<br />
	 <div th:replace="fragments/general.html :: footer"></div> 


</body>
</html>